### 数据预处理

[视频](https://www.bilibili.com/video/BV1CV411Y7i4?p=3) | [教材](https://zh-v2.d2l.ai/chapter_preliminaries/pandas.html)

##### 生成CSV并读取

In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

#### 补充缺失数据

In [3]:
inputs = data.iloc[:, 0:2]
outputs = data.iloc[:, 2]
print(inputs)
print(outputs)

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN
0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

对inputs插入平均值解决NaN

没有办法解决的会报警告，比如string

In [4]:
inputs.fillna(inputs.mean(), inplace = True)
inputs

/tmp/ipykernel_5986/1908702553.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs.fillna(inputs.mean(), inplace = True)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于字符串，分别处理成两个列，“NaN”作为一个类别

In [5]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

目前两个对象都是数值，可以转换为张量

In [6]:
import torch

x = torch.tensor(inputs.values)
y = torch.tensor(outputs.values)
x, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))